# Generate a secure key using `cryptography.fernet.Fernet.generate_key()`
VAULT_SECRET_KEY=10S0qXUo_oI_sM3n3aHk-_5zR3w6o9x_Q2m-5sXlY0E=

# SMTP Email Settings (Required for actual email delivery)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
EMAIL_SENDER=your-email@gmail.com
# Use an App Password if using Gmail (not your actual login password)
EMAIL_PASSWORD=your-app-password
